@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{margin:0;font-family: 'Raleway', sans-serif;scroll-behavior: smooth;}

/*General Content*/
.section-title{
    font-size: 3.6rem;
    color: inherit;
    font-weight:300;
    text-align: center;
    margin-bottom: 6%;
}

a{
    text-decoration: none;
}

/*Navbar*/
.navbar{
    background-color: rgba(0,0,0,.99);
    position: relative;
    width: 100%;
    height: 10vh;
    z-index: 2;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 2.6rem;
    margin-left: 3%;
    margin-bottom: -.5%;
}

.navbar-nav{
    margin-right: 3%;
}

.nav-item{
    margin: 0 6px;
}

.nav-link{
    font-size: 1.4rem;
}

.nav-menu{
    color: white;
    font-size: 1.8rem;
    margin-right: 3%;
    display: none;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    padding: 20% 0 0 0;
    display: none;
}

.sidebar-item{
    margin: 10px auto;
    text-align: center;
}

.sidebar-link{
    text-decoration: none;
    font-size: 42px; 
    color: rgba(255,255,255,.55);
    transition: .2s ease-in;
}

.sidebar-link:hover{
    color: white;
}

.sidebar-close{
    color: white;
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 3rem;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    .navbar-nav{
        display: none;
    }
    .nav-menu{
        display: block;
    }
}



/*Header*/
.header{
    background-image: url('cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
}

.header-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.95);
    height: 100%;
    color: white;
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.header-subtitle{
    font-weight: 500;
    font-size: 1.8rem;
}

.header-title{
    font-weight: 200;
    font-size: 4rem;
}

.header-slogan{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.header-title-wrapper{
    margin-top: 100px;
}

.header-button-container{
    margin-top: 100px;
}

.header-button{
    border: 3px solid white;
    padding: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: .2s ease-in-out;
}

.button-menu:hover{
    color: black;
    background-color: white;
}

.button-shop{
    color: black;
    background-color: white;
}

.button-shop:hover{
    color: black;
}

.scroll-container{
    margin-top:180px;
}

.scroll-title{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.scroll{
    text-decoration: none;
    font-size: 5rem;
    color: rgba(255,255,255,.6);
    transition: .2s ease-in-out;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.scroll:hover{
    color: white;
    animation-iteration-count: 0;
}

@keyframes anim{
    0%{
        margin-top: 0px;
    }
    5%{
        margin-top: 10px;
    }
    10%{
        margin-top: 0px;
    }
    15%{
        margin-top: 10px;
    }
    20%{
        margin-top: 0px;
    }
    25%{
        margin-top: 10px;
    }
    30%{
        margin-top: 0px;
    }
    100%{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1600px){
    .header-banner{
        width: 100%;
        background-color: rgba(0,0,0,.8);
    }
}



/*Mission Statement*/
#ms-section{
    padding: 6% 12%;
}

.mission-statement{
    text-align: center;
}

.mission-statement h1{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.mission-statement p{
    font-size: 1.8rem;
    display: inline-block;
    width: 60%;
}

/*About Section*/
#about-section{
    padding: 6% 12%;
    background-color: black;
    color: white;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text{
    font-size: 1.8rem;
    text-align: left;
}

.about-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-image{
    width: 450px;
    height: auto;
}

@media only screen and (max-width: 1500px){
    .about-text{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1230px){
    .about-text{
        font-size: 1.2rem;
    }
    .about-image{
        width: 350px;
    }
}

@media only screen and (max-width: 992px){
    .about-text{
        text-align: center;
        width: 90%;
        margin: 0 auto 50px auto;
    }
    .about-image{
        width: 90%;
    }
}



/*Menu Section*/
#menu-section{
    padding: 6% 12%;
}

.menu-subtitle{
    font-size: 1.6rem;
    color: inherit;
    font-weight:200;
    text-align: center;
    margin: 0 auto 3% auto;
    width: 70%; 
}

.menu-card{
    width: 100%;
    border: 1px solid rgba(0,0,0,.6);
}

.menu-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.truffle-img{background-image: url('truffles.jpg');}
.bar-img{background-image: url('dark_chocolate.jpg');}
.artisan-img{background-image: url('belgian_chocolate.jpg');}

.menu-description{
    font-size: 1.3rem;
    text-align: center;
    padding: 30px 10px;
}

.menu-button{
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    display: block;
    color: black;
    border-top: 1px solid rgba(0,0,0,.6); 
    transition: .2s ease-in-out;
}

.menu-button:hover{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 992px){
    .menu-card{
        margin: 30px; 
    }
}



/*Events Section*/
#events-section{
    padding: 6% 12%;
    background-color: black;
    color: white;
}

.event-image-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.event-image{
    width: 100%;
    height: auto;
}

.event-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-text{
    font-size: 1.8rem;
    text-align: right;
}

.sm-container{
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: center;
}

.sm-icon{
    font-size: 3rem;
    margin: 0 8px; 
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;
}

.sm-icon:nth-child(1):hover{color:#dd2a7b}
.sm-icon:nth-child(2):hover{color:#3b5998;}
.sm-icon:nth-child(3):hover{color:#00acee;}
.sm-icon:nth-child(4):hover{color:#ee1d52;}

@media only screen and (max-width: 1500px){
    .event-text{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1230px){
    .event-text{
        font-size: 1.2rem;
    }
    .event-image{
        width: 350px;
    }
}

@media only screen and (max-width: 992px){
    .event-text{
        text-align: center;
        width: 90%;
        margin: 0 auto 50px auto;
    }
    .event-image{
        width: 90%;
    }
}



/*Contact Section*/
#contact-section{
    padding: 6% 12%;
}

.contact-subtitle{
    font-size: 1.6rem;
    color: inherit;
    font-weight:500;
    text-align: center;
    margin: 0 auto 3% auto;
    width: 70%; 
}

.form-container{
    display: flex;
    justify-content: center;
}

.form{
    width: 80%;
}

.form-label{
    display: block;
    margin-top: 30px;
    font-size: 1.2rem;
}

.form-input{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

.form-message{
    display: block;
    width: 100%;
    height: 200px;
}

.form-submit{
    margin: 30px 0;
    padding: 5px 16px;
    border: 3px solid black;
    background-color: white;
    font-size: 1.3rem;
    font-weight: 600; 
    letter-spacing: 1px;
    transition: .2s ease-in-out;
}

.form-submit:hover{
    color: white;
    background-color: black;
}



/*Footer Section*/
.footer-container{

}

.top-container{
    background-color: rgba(0,0,0,.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.bottom-container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
}

.copyright{
    margin: 0!important;
}

.footer-divide{
    color: white;
}

.footer-links-container{
    margin: 20px 0;
}

.footer-link{
    color: rgba(255,255,255,.9);
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0 10px;
}

.footer-link:hover{
    color: white;
}

.footer-container .sm-container{
    margin: 20px 0;
}

.footer-container .sm-icon{
    font-size: 1.8rem;
}